<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <style>
      @import
      url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
    </style>
    <title>Custom Pizza Builder</title>
  </head>
  <body>
    <h1>Build Your Own Pizza</h1>
    <form action="/your-pizza" method="POST">
      <label for="size">Size</label>
      <select name="size" id="size" class="input-short">
        <option value="small">Small</option>
        <option value="medium">Medium</option>
        <option value="large">Large</option>
      </select>
      <label for="toppings">How Many Toppings?</label>
      <input
        type="number"
        name="toppings"
        id="toppings"
        step="1"
        class="input-short"
      />
      <ul>
        {{#each toppingsArray}}
          <li>{{this}}</li>
        {{/each}}
      </ul>
      <div class="radio-input">
        <input type="checkbox" name="gluten" id="gluten" />
        <label for="gluten">Gluten-Free Crust? ($2.00 extra)</label>
      </div>
      <label for="instructions">Special Instructions (Optional)</label>
      <textarea
        name="instructions"
        id="instructions"
        cols="40"
        rows="5"
      ></textarea>
      <button>Calculate Price</button>
      <a href="/">Never Mind</a>
    </form>
  </body>
</html>